<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Article</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Affiche Article</h1>
    <!--  <p th:text="'id: ' + ${article.id}" />  -->
    <p th:text="'Titre: ' + ${article.titre}" />
     <p th:text="'Contenu: ' + ${article.contenu}" />
     <p th:text="'Date: ' + ${article.date}" />
     tags :
     <span th:each="tag:${article.tags}">
     	<span th:text="${tag.contenu}">
     	</span>
     </span>
     <p><a href="articles/ajouterArticle.html" th:href="@{ajouterArticle}">ajouter article</a></p>
    <!--<p><a href="articles/ajouterArticle">ajouter article</a></p>-->
     <p><a href="/">Index</a></p>
     
     <h5>Liste des commentaires de cet article</h5>
    
     	<p th:each="commentaire:${article.commentaires}">
     	  <span th:text="'Date de Publication: ' + ${commentaire.date}"> </span>
     	  <p th:text="'Contenu: ' + ${commentaire.contenu}"> </p>
     	</p> 
    <h5>Commenter cet article</h5>
    <form action="#" th:action="@{ajouterCommentaire}"  method="post">
         <p>Contenu:</p>
         <input type="text" name="contenuCommentaire" />
         <!--   <textarea name="contenuCommentaire"> </textarea> -->
        <p><input type="submit" value="Publier" /></p>
    </form>
    
   
</body>
</html>