<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Article</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Affiche Article</h1>
    <!--  <p th:text="'id: ' + ${article.id}" />  -->
    <p th:text="'Titre: ' + ${article.titre}" />
     <p th:text="'Contenu: ' + ${article.contenu}" />
     <p th:text="'Date: ' + ${article.date}" />
     <p><a href="/ajouterArticle">ajouter article</a></p>
     <p><a href="/">Index</a></p>
     
     <!--  <form action="#" th:action="@{/ajouterCommentaire}" th:object="${commentaire}" method="post">
    	 <p>Commenter:</p>
         <textarea th:field="*{contenu}"></textarea>
         <p><input type="submit" value="publier" /></p>
         
    </form> -->
    
</body>
</html>