<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Accueil du Blog</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="mainstyle.css" media="all"/>  
</head>
<body>
	<section class="barreHaut">
		<img src="guirlande.png" />
		<!-- Filter l'affichage -->
		<a th:if="${sessionBean}" href="/deconnexion">Se déconnecter</a>
		<a th:unless="${sessionBean}" href="/connexion">Se connecter</a>
    </section>
	<div class="bonnet">
		<img src="bonnet.png" />
	</div>
	<section class="menu">
		<section>
			<img class="cadre" src="cadre.png" />
			<img class="avatar" src="avatar.jpeg" />
		</section>
		<section class="listMenu">
			<img class="cadreBienvenue" src="cadreBienvenue.png" />
			<section class="contenuCadre">
				<strong>
					<span class="bonjourX" th:if="${sessionBean}" th:text="'Bienvenue ' + ${sessionBean.user.login}"></span>
					<span class="bonjourX" th:unless="${sessionBean}" th:text="'Bienvenue sur le site de blog'"></span>
				</strong>
			</section>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li th:if="${sessionBean}"><a href="/user/profil" th:href="@{/user/profil(id=${sessionBean.user.id})}">Modifier mon profil</a></li> 
				<li th:if="${sessionBean}"><a href="articles/ajouterArticle">Ajouter Article</a></li>
				<li th:unless="${sessionBean}"><a href="/inscription">S'incrire</a></li>
			</ul>
		</section>
	</section>
	
 <section class="corps">
    	<header>
	    	<h1>Bienvenue sur notre blog</h1>
    	</header>
    	<section class="recherche">
    		<h1>Filtre</h1>
	    	<form action="#" th:action="@{filter}"  th:object="${selector}" method="post">
				<label name="action">Afficher Par:</label>
				     <select th:field="*{action}">
	  					<option value="Les plus recent">Les plus récents</option>
	  					<option value="Auteur">Auteur</option>
	  					<option value="Tag">Tags</option>
					</select>     
				     <label name="filtre">Tag:</label>
				     <select th:field="*{tag}">
	  					<option th:each="t : ${tags}" 
	          			th:value="${t.contenu}" 
	          			th:text="${t.contenu}">Contenu</option>
					</select><br/>
					<label name="Auteur">Auteur:</label>
					<input class="rechercheAuteur" type="text" th:field="*{auteur}" />  
			         <input type="submit" value="Afficher" />
			    </form>
    	</section>
    	<article class="article" th:each="article: ${articles}">
    		<header>
    			<strong th:text="${article.titre}">Titre</strong><br/>
    			<span th:text="${article.date}"> Date </span>
    			<span th:text="'par '+${article.auteur.login}" >auteur</span>
   			</header>
    		<section >
    			<p th:text="${article.contenu}">
    				contenu
    			</p>
    	   		<section class="actionSuivanteArticle">
    				<a href="articles/consulter" th:href="@{'articles/'+${article.id}}">plus</a>
    			</section>	
    		</section>
    		<footer>
    		Tags: 
    			<span th:each="tag:${article.tags}">
    				<span class="tag" th:text="${tag.contenu}"> tag </span> 
    		   </span>
    		
    		</footer>
    	</article>
    	<img class="boule2" src="boule2.png" />
    </section>
        
    <div class="houx">
    	<img src="houx.png" />
    </div>

</body>
</html>
